<header class="d-flex justify-content-between container-fluid">


        <div class="d-flex gap-3 align-items-center">
            <a href="/users"><img src="./img/back-icon.png" id="homeIcon"></a>
            <img class='arrow-logo'src="/img/arrow-logo.png">
            <h1 id="projectName">KeepUP</h1>
        </div>
        <div class="d-flex gap-3 align-items-center align-self-center" id="loginSignUpBtns">
            <h2 id="helloText">Hello {{first_name}}</h2>
            <div id="profileCircle">{{first}}</div>
        </div>
    </header>
    <main>
        <div class="d-flex gap-4" id="bg-color-projects-dashboard">
            <div id="messagesColumn1" class="d-flex flex-column gap-3">
                <!-- <div class="d-flex justify-content-between"> -->
                    <h2 id="messengerWord">Chat Channel</h2>
                <!-- </div> -->
                  
                <div class="d-flex flex-column gap-3" id="messagesList" class="chat">
                    
                   <div id="messages" class="chat__messages"></div>
                



            </div>

        
      

         {{!-- <div class="d-flex flex-column gap-4 flex-grow-1" id="trelloColumn"> --}}

         


            <form class="sendMessage d-flex justify-content-between gap-3">
                <input type="text" placeholder="type message here" class="messageInput">
                <input type="submit" value="send" class="submitMessage">

                <div id="locationDiv">
                    <img src="./img/send-location.png" id="submitLocation">
                </div>
            </form>
        </div>


        <div class="d-flex flex-column gap-4 flex-grow-1" id="trelloColumn">

            <div class="d-flex flex-column gap-3" id="trelloSection">
                <div id='trelloTitleBar' class="d-flex justify-content-between align-items-center">
                    <h2 id="projectTitle">{{title.name}}</h2>

                    <div class="d-flex gap-3 align-items-center" id="trelloOptionsBar">

                        <div class="checkmark">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px"
                                viewBox="0, 0, 100, 100" id="checkmark">
                                <g transform="">
                                    <circle class="path" fill="none" stroke="#7DB0D5" stroke-width="4"
                                        stroke-miterlimit="10" cx="50" cy="50" r="44" />
                                    <circle class="fill" fill="none" stroke="#7DB0D5" stroke-width="4"
                                        stroke-miterlimit="10" cx="50" cy="50" r="44" />
                                    <polyline class="check" fill="none" stroke="#7DB0D5" stroke-width="8"
                                        stroke-linecap="round" stroke-miterlimit="10" points="70,35 45,65 30,52  " />
                                </g>
                            </svg>
                        </div>

                        <div class="vr"></div>

                        <div class="d-flex gap-2 align-items-center" id="dragTaskToggleDiv">
                            <div class="d-flex flex-column">
                                <label id="moveableTasksH6" for="draggableToggle">moveable tasks</label>
                                <label id="moveableListsH6" for="draggableToggle">moveable lists</label>
                            </div>
                            <input type="checkbox" id="draggableToggle">
                        </div>

                        <div class="vr"></div>
                        <div class="d-flex gap-2 align-items-center" id="editTextToggleDiv">
                            <input type="checkbox" id="editTextToggle">
                            <div class="d-flex flex-column">
                                <label id="editTextOn" for="editTextToggle">edit text ON</label>
                                <label id="editTextOff" for="editTextToggle">edit text OFF</label>
                            </div>
                        </div>

                        <div class="vr"></div>
                        <div id="addListButton" class="d-flex gap-2">
                            <img class="text-white align-self-center" src="img/plus.png" height="20px" width='auto'>
                            <h6 class="bold">add new list</label>
                        </div>
                    </div>



                </div>
                <div id="trelloBoard" class="d-flex gap-3">




                 

                  {{#each lists}}
                    <div class="list d-flex flex-column gap-2" data-list-id={{this.id}}
                        data-position={{this.position}}>
                        <div class="d-flex justify-content-between align-items-center moveList">
                            <h3 class="text-white listTitle" contenteditable="true">{{this.list_content}}</h3>
                            <img src="./img/bin-white.png" id="deleteListButton">
                        </div>
                        <div class="taskList">
                           {{>task-details}}
                        </div>
                        <h5 class="text-white addTaskButton"><span class="bold">+</span> Add task</h5>
                    </div>
                    {{/each}} 





                </div>
            </div>




            <div class="d-flex gap-4" id="memberOptionsRow">
                <div id="membersSection" class="d-flex flex-column">
                    <h2>Members</h2>
                    <hr>
                    <div id="membersList" class="d-flex flex-column gap-2">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="onlineDot"></div>
                                <h4 class="memberName">Michael Klein</h4>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <div class="onlineDot"></div>
                                <h4 class="memberName">Romeo Dixon</h4>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <div class="onlineDot"></div>
                                <h4 class="memberName">Leah Nelson</h4>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <div class="onlineDot"></div>
                                <h4 class="memberName">Sam Prince</h4>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <div class="onlineDot"></div>
                                <h4 class="memberName">Morgan TA</h4>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <div class="onlineDot"></div>
                                <h4 class="memberName">Leah Nelson</h4>
                            </div>
                        </div>
                </div>
                <div id="memberManagement" class="text-center d-flex flex-column justify-content-around">
                    <h3 class="memberInstruction">Don't see someone?</h3>
                    <h3 id="inviteButton" data-bs-toggle="modal" data-bs-target="#inviteMemberModal">Invite a member
                    </h3>
                    <h3 class="memberInstruction">Added by mistake?</h3>
                    <h3 id="leaveButton" data-bs-toggle="modal" data-bs-target="#removeMemberModel">Leave Project
                    </h3>
                </div>
            </div>
        </div>

    </div>
</main>
    <!-- Logout and Update Profile Popup -->
    <div id="profileOptions" class="d-flex flex-column p-4 gap-3 justify-content-around hideDisplay">
        <h3 id="editProfileButton" class="text-center" data-bs-toggle="modal" data-bs-target="#editProfileModel">
            Edit Profile</h3>
        <h3 id="logoutButton" class="text-center">Logout</h3>
    </div>

    


        <!-- Modal for Inviting a member! -->
        <div class="modal fade" id="inviteMemberModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form class="d-flex flex-column gap-4 p-4" id="createProject">
                    <h2 class="text-center bold">Add members to project</h2>
                    <div class="d-flex flex-column gap-2">
                        <div class="d-flex flex-column gap-1">
                            <label for="#memberNameInput" class="bold">Add Member</label>
                            <input type="text" placeholder="Enter Member name" id="memberName">
                        </div>
                        <div class="d-flex flex-column gap-1">
                           <label for="#addprojectName" class="bold">Project Name</label>
                            <input type="text" placeholder="Enter project name" id="addingprojectName">
                        </div>
                       
                    </div>
                    <input type="submit" id="inviteMemberButton" value="Create">
                </form>
                </div>
            </div>
        </div>



    <!-- Modal for removing self from project -->
    <div class="modal fade" id="removeMemberModel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="d-flex flex-column gap-4 p-4 align-items-center">
                    <h2 class="text-center bold">Are you sure?</h2>
                    <h4 class="text-center">You will no longer have access to this workspace unless someone adds
                        you again</h3>
                        <h3 class="bold text-white text-center" id="removeMemberButton">I'm sure! Remove me from
                            Project</h3>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal for updating Profile -->
    <div class="modal fade" id="editProfileModel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form class="d-flex flex-column gap-4 p-4" id="updateProfile">
                    <h2 class="text-center bold">Update your profile</h2>
                    <div class="d-flex flex-column align-items-center gap-2">
                        <input type="text" value="Michael" placeholder="Enter first name" id="updateFirstNameInput">
                        <input type="text" value="Klein" placeholder="Enter last name" id="updateLastNameInput">
                        <input type="text" value="michaelklein1997@gmail.com" placeholder="Enter email"
                            id="updateEmailInput">
                        <input type="password" placeholder="Enter your password" id="enterPasswordInput">
                    </div>

                    <input type="submit" id="updateProfileSubmit">
                </form>

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>




    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"crossorigin="anonymous"></script>
    <script src="./js/projectRoom.js"></script>

    <script src="./js/collapsible.js"></script>
    <script src="./js/trelloBoard.js"></script>
    <script src="./js/profileOptions.js"></script>
    <script src="./js/updateProfile.js"></script>
    <script src="js/logout.js"></script>

<script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="./js/profileButtons.js"></script>


      

